<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Comparação</title>
</head>
<body>
    <h1>Resultado da Comparação</h1>
    <p>Diferença em Porcentagem: {{ difference_percentage }}</p>
    <a href="/">Voltar</a>
</body>
</html>
